parameters:
    level: max
    paths:
        - src
    excludePaths:
        - src/Console/Tests
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#PHPDoc tag @var#'
        - '#PHPDoc tag @param#'
        - '#PHPDoc tag @return#'
        - '#PHPDoc tag @throws#'
        - '#PHPDoc tag @method#'
        - '#PHPDoc tag @property#'
        - '#PHPDoc tag @property-read#'
        - '#PHPDoc tag @property-write#'
    bootstrapFiles:
        - vendor/autoload.php
    tmpDir: .phpstan/cache 